.settingIcon {
  padding: 1% 5%;
  font-size: 4rem;
  margin-top: 4rem;
}

.upper {
  padding: 1% 10% 5% 10%;
  color: black;
}

.img-temp {
  display: flex;
  align-items: center;
  gap: 5%;
}

.details-image {
  height: 14rem;
}

.country-city {
  font-size: 3.2rem;
}

.temperature-details {
  font-size: 6rem;
  font-weight: bold;
}

.condition-details {
  font-size: 2.5rem;
}

.temp-condition {
  display: flex;
  flex-direction: column;
}

.no-data {
  text-align: center;
  padding-top: 40px;
  color: #fff;
  font-size: 3.4rem;
}

.lower {
  grid-gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  padding: 0 5%;
}

.humidity {
  display: flex;
  align-items: center;
  padding: 30px;
  border: 1px solid white;
  justify-content: space-between;
  background-color: #87cfeb97;
  border-radius: 10px;
  color: black;
}

.lower-value {
  font-size: 2.1rem;
}

.lower-header {
  font-size: 3rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Icons {
  font-size: 4rem;
}
