.home-city {
  align-items: center;
  background-color: #a990d4;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.weather-detail {
  display: flex;
  align-items: center;
}

.weather-logo {
  height: 8rem;
}