@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #87cfeb62;
  font-family: 'Poppins', serif;
}

.heading {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
}

.home-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5% 5%;
  padding-bottom: 2rem;
}

.error {
  text-align: center;
  margin-top: 3rem;
  font-size: 3rem;
  padding: 0 3.5%;
}

/* MEDIA QUERIES */
@media (max-width: 1279px) {
  html {
    font-size: 60%;
  }

  .home-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 57.5%;
  }

  .home-grid .home-city {
    font-size: 2.3rem;
  }

  .heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  body nav {
    font-size: 2.7rem;
  }

  .nav-head .nav-name {
    font-size: 3rem;
  }

  .input-with-icon input[type='text'] {
    padding: 10px;
  }

  .heading {
    font-size: 3rem;
  }

  .home-grid .home-city {
    font-size: 2rem;
    padding: 5px 10px;
  }

  .home-grid .weather-logo {
    height: 7rem;
  }

  .detail-page .lower {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 52.5%;
  }

  body nav {
    font-size: 2.5rem;
  }

  .nav-head .nav-name {
    font-size: 2.7rem;
  }

  .input-with-icon input[type='text'] {
    width: 130px;
  }

  .heading {
    font-size: 2.5rem;
  }

  .home-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .home-grid .home-city {
    width: 87%;
    gap: 5rem;
  }

  .detail-page .settingIcon {
    font-size: 3rem;
  }

  .detail-page .country-city {
    font-size: 2.7rem;
  }

  .detail-page .temperature-details {
    font-size: 5rem;
    font-weight: bold;
  }

  .detail-page .lower-header {
    font-size: 2.5rem;
  }

  .detail-page .Icons {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 50%;
  }

  .input-with-icon input[type='text'] {
    width: 95px;
  }
}